body {
  background-color: #3d3d3d;
}
h2 {
  font-size: 50px;
}
button {
  color: #fff;
  border: 2px #aaa solid;
  background-color: #3d3d3d;
}
button:hover {
  background-color: #666;
}
.counter-round {
  width: 350px;
  height: 350px;
  margin-top: 50px;
  margin: auto;
}
svg {
  position: absolute;
  z-index: 13;
  transform: translateX(-50%);
}
.main {
  max-width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.left {
  height: 100px;
  width: 50px;
  border-right:0;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.right {
  height: 100px;
  width: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
h3 {
  text-transform: capitalize;
}